table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

thead{
   background-color: #CACCCE;
}

td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #339CFF;}